*.html linguist-detectable=false
Data/**.html linguist-detectable=false
Results/**.html linguist-detectable=false
src/**.html linguist-detectable=false
Results/motif_discovery/*.html linguist-detectable=false
